name: Xmake Build MCImRenderer.dll

on:
  push:
    tags:
      - '*'

env:
  MODULE_NAME: MCImRenderer

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: setup xmake
      uses: xmake-io/github-action-setup-xmake@v1
      with:
        xmake-version: latest

    - run: |
        xmake repo -u

    - name: downloadFont
      working-directory: ${{github.workspace}}
      run: |
        dir include/
        mkdir include/fonts
        Invoke-WebRequest -Uri "https://github.com/cngege/cngege.github.io/releases/download/v0.1-beta.3/JNMYT.h" -OutFile "include/fonts/JNMYT.h"

    - run: |
        chcp 65001
        
    - run: |
        xmake f -a x64 -m release -p windows -v -y

    - run: |
        xmake -v -y
      
    - name: Upload MCImRenderer
      uses: actions/upload-artifact@v4
      with:
        name: ${{env.MODULE_NAME}}
        path: |
          ${{github.workspace}}/build/windows/x64/release/${{env.MODULE_NAME}}.dll
          ${{github.workspace}}/build/windows/x64/release/${{env.MODULE_NAME}}.pdb
          ${{github.workspace}}/build/windows/x64/release/${{env.MODULE_NAME}}.lib

  publish_release:
    name: Publish release
    needs: build
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ${{github.workspace}}/build/download/
          
      - name: Get tag
        id: tag
        uses: devops-actions/action-get-tag@v1.0.2
        with:
            default: v0.0.0 # Optional: Default version when tag not found

      - name: cmd
        working-directory: ${{ env.GITHUB_WORKSPACE }}
        run: |
          dir build/download/
          dir .
        shell: bash

      - name: Create release
        #if: github.event.inputs.status != 'stable'
        uses: ncipollo/release-action@v1
        with:
          prerelease: false # 是否是预览版
          tag: ${{steps.tag.outputs.tag}}
          bodyFile: "ReleaseBody.md"
          #name: 0
          artifacts: build/download/${{env.MODULE_NAME}}/${{env.MODULE_NAME}}.dll,build/download/${{env.MODULE_NAME}}/${{env.MODULE_NAME}}.pdb,build/download/${{env.MODULE_NAME}}/${{env.MODULE_NAME}}.lib
